<div *ngIf="!loading">
  <div class="filter">
    <input
      type="text"
      placeholder="{{'filter placeholder' | translate}}"
      [(ngModel)]="searchString"
    >
  </div>
  <ul *ngIf="todosService.todos.length; else noTodos">
      <li *ngFor="let todo of todosService.todos | todosFilter:searchString; let i = index">
          <span [class.done]="todo.completed">
              <input type="checkbox" [checked]="todo.completed" (change)="onChange(todo.id)">
              <strong>{{i + 1}}</strong>
              {{ todo.title }}
          </span>
          <small>{{ todo.date | date:'medium'}}</small>
          <button class="rm" (click)="todosService.removeTodo(todo.id)">x</button>
      </li>
  </ul>

  <ng-template #noTodos>
    <p style="text-align: center;">
      no todos now!
    </p>
  </ng-template>
</div>
<p *ngIf="loading">Loading...</p>
