<div>
  <button (click)="changeLanguage('ar')">Arabic</button>
  <button (click)="changeLanguage('en')">English</button>
</div>

<div class="container">
  <h1 translate>{{ appTitle }}</h1>
  <app-todo-form></app-todo-form>
  <app-todos></app-todos>
</div>
