<div>
  <input
    type="text"
    placeholder="{{'add new todo' | translate}}"
    [(ngModel)]="todoTitle"
    (keydown.enter)="addTodo()"
  >
  <button (click)="addTodo()" translate>Add todo</button>
</div>
